@font-face { font-family: Cheddar; src: url('Fonts/Cheddar Jack.TTF'); } 
@font-face { font-family: HelveticaBd; src: url('Fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf'); } 
@font-face { font-family: HelveticaRoman; src: url('Fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Roman.otf'); }
@font-face { font-family: HelveticaNeue; src: url('Fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Roman.otf'); } 

html, body {
	position: relative;
    height: 100%;
}

.enter-text {
    position: relative;
    margin: 9.5% 0 0 0;
    font-family: Cheddar;
    font-size: 4.5em;
	color: white;
    font-weight: lighter;
}

.internal-background {
    background-size: cover;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    margin-top: 1.3%;
    width: 50%;
    display: inline-block;
}

.personal-info {
    width: 100%;
}

.round-border {
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

.input-item {
    width: 94%;
    color: white;
    background:transparent;
    padding: 10px;
    margin-top: 4%;
    font-size: 1em;
}

.gender-div {
    margin: 6.5% 4%;
}

.gender {
    color: rgb(201, 242, 248);
    float: left;
    font-weight: lighter;
    
    margin: 0%;
    font-size: 1.15em;
}

.check-div {
    float: left;
    display: inline-flex;
    margin-left: 47px;
    margin-top: 5px;
}

.gender-text {
    margin-left: 17px;
    color: rgb(201, 242, 248);
}

.send-button {
    color: white;
    background: #23b300;
    text-decoration: none;
    position: absolute;
    top: 82.7%;
    padding: 1% 5.5%;
    left: 50%;
    transform: translateX(-50%);
}

