<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />	
	<title>valtech_</title>

	<link rel="stylesheet" href="../css/endpage.css"></link>
	<link rel="stylesheet" href="../css/common.css">

	<script src="../lib/jquery/1.9.1/jquery-1.9.1.js"></script>
	<script src="../js/string.js"></script>

</head>
<body onLoad="javascript:onLoad()">
	<div id="MainDiv" style="background-image: url(../res/images/background.png)" class="internal-background">
		<h2 class="logo-title">
			valtech_
		</h2>
		<h1 class="thank-text">
			Thank you!
		</h1>
		<h5 class="result-text">
			Results will be given by the last day of event.<br>If you win, we will contact you!
		</h5>
	</div>
</body>
</html>